#aboutimage{
    width: 1600px;
    height: 200px;
}
#abouttext{
    padding-left: 300px;
    padding-right: 300px;
}

.profileimage{
    width: 140px;
    height: 128px;
    background-size: 140px;
    display: inline-block;
}

.profiletext{
    margin-top: 150px;
}