#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    border-bottom: 1px rgb(163, 163, 163) solid;
    width: 100%;
    height: 70px;
    position: static;
    transition: top 0.1s;
  }

#logo{
 float: left;
 height: 50px;   
}

#test{
  color: black;
  width: 100%;
  height: 55px;
}


  li {
    float: left;
    width: 100px;
    transition: width 0.2s;
    z-index: 2;
  }
  li:hover{
      width: 110px;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgba(123, 206, 137, 0.931);
    color: rgb(255, 255, 255);
  }
  
  li a.active {
    color: rgba(37, 37, 37, 0.931);
    font-size: 16px;
    text-decoration: underline;
    font-weight: bolder;
  }

  li a.active:hover {
    background-color: rgba(123, 206, 137, 0.931);
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-decoration: underline;
  }