#submitButton{
    width: 1px;
    margin-right: -61%;
    margin-top: 10px;
}

#submit{
    background-image: linear-gradient(to top, rgb(235, 251, 253), rgb(255, 235, 235));
    font-size: 30px;
    width: 200px;
    height: 75px;
    border-radius: 20px;
    transition: background-image 1.2s;
}

#submit:hover{
    background-image: linear-gradient(to bottom, rgb(235, 251, 253), rgb(255, 235, 235));
}